<!DOCTYPE html>
<html>
<head>
    <title>🌍</title>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-3359305103262283",
            enable_page_level_ads: true
        });
    </script>
    <meta name="image"
          content="https://emojipedia-us.s3.amazonaws.com/cache/52/23/52230e8ab5779d3b28c53725672bad99.png">
    <link rel="icon" href="/static/favicon.ico">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="🌍✌🏼">
    <meta itemprop="description" content="Shitty url shortener, emoji and ai powered. 🌍✌🏼">
    <meta itemprop="image"
          content="https://emojipedia-us.s3.amazonaws.com/cache/52/23/52230e8ab5779d3b28c53725672bad99.png">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="🌍✌🏼">
    <meta name="twitter:description" content="Shitty url shortener, emoji and ai powered.">
    <meta name="twitter:site" content="@cagataycali">
    <meta name="twitter:creator" content="@cagataycali">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="🌍✌🏼">
    <meta name="og:description" content="Shitty url shortener, emoji and ai powered.">
    <meta name="og:image"
          content="https://emojipedia-us.s3.amazonaws.com/cache/52/23/52230e8ab5779d3b28c53725672bad99.png">
    <meta name="og:url" content="http://🌍✌🏼.ws">
    <meta name="og:site_name" content="🌍✌🏼">
    <meta name="og:locale" content="en_US">
    <meta name="og:type" content="website">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body class="text-center" style="margin-top: 50px;">
<p>Home, sweet home... 🏡</p>
<p>I guess you have a shitty URL. That's why you're here. 💩</p>
<p>Let's see what I can do.</p>
<div class="container">
    {% if not short_url %}
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="text-left">
                    <form method="post" class="navbar-form navbar-right" action="">
                        <div class="form-group">
                            <br>
                            <p><input type="text" id="url" name="url" class="form-control input-lg chat-input"
                                   placeholder="Your shittly URL"/></p>
                            <p><button type="submit" class="form-control btn btn-lg btn-info">Submit</button></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% else %}
        <div>
            Enjoy, your shortened URL is: <a href="{{ short_url }}"> {{ short_url }}</a>
        </div>
    {% endif %}
</div>

<br>
<p>No reporting, no follow-up. It just works. </p>
<p>The world is ours, become a contributor. 🌍✌🏼</p>


</body>

</html>